/* Todo.module.css */

.todo {
    width: auto;
    background-color: #e1dede;
    border: 2px solid #555353;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(40, 39, 39);
}

.todoText {
    /* flex: 1; */
    font-size: 1rem;
    text-align: left;
    width: 100%;
}

/* You can add more styles here as needed */